<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IIT Chatbot Management</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/Manager_styles.css') }}">
</head>
<body>
  <div class="header">
    <h1>IIT Chatbot Management</h1>
    <div class="header-icon">
      <img src="{{ url_for('static', filename='images/avatar.png') }}" alt="User Icon" width="30" height="30">
    </div>
  </div>

  <div class="button-container">
    <button id="manualEntryBtn">Manual Entry</button>
    <button id="fileBtn">File Upload</button>
    <button id="chatResponsesBtn">Main</button>
    <button id="tagTableBtn">Tag Table</button>
    <button id="unansweredBtn">Unanswered</button>
    <button id="chatbotDemoBtn">Chatbot</button>
  </div>
  
  <div class="content-container">
  </div>

  <script src="{{ url_for('static', filename='js/Manager_script.js') }}"></script>
</body>
</html>